body {
	margin: 0px;
}
#main {
	font-family: sans-serif;
	margin:	0px;
}

#navigation_panel {
	width: 80px;
	float: left;
}

#map_frame {
	border: 20px black solid;
	float: left;
	margin: 30px;
	overflow: hidden;
}

#zoom_buttons {
	width: 60px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;		
	clear: both;
}

.scroll_buttons {
	width: 30px;
}

#up_button {
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

#left_button {
	clear: left;
}

#right_button {
	float: right;
	clear: right;
}

#down_button {
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

input[type="button"] {
	width: 30px;
	height: 20px;
	float: left;
}

#map_image {
	position: relative;
}
